<h1>Author Detail</h1>

<ul>
    <h3>{{author.name}}</h3> 
        {{author.bio}}
        {% for recipe in data %}
            {% if recipe.author == author %}
            <a href="{% url 'recipe' id=recipe.id %}">{{recipe.title}}</a>
            {% endif %}
        {% endfor %}
        <h4>Favorite recipes:</h4>
        <ul>
        {% for recipe in author.favorites.all %}
            <li><a href="{% url 'recipe' id=recipe.id %}">{{recipe.title}}</a></li>
        {% endfor %}
        </ul>



</ul>

<a href="{% url 'homepage' %}">Home Page</a>