<h1> Recipe Detail </h1>

<ul>
    <li>
    {{recipe.title}}
    </li> 
</ul>
<ul>
    <li>
    <a href="{% url 'author' id=recipe.author.id %}">{{recipe.author.name}}</a> | Created on {{recipe.date}}
    </li>
            <ul>
                <li>
                {{recipe.description}}
                </li>
                <li>
                {{recipe.time_required}}
                </li>
                <li>
                {{recipe.instructions}}
                </li>
<p>                
<a href="{% url 'homepage' %}">Home Page</a>
</p>
</ul>            
    