<h1> Recipe Detail </h1>

<ul>
    <li>
    {{recipe.title}}
    </li> 
</ul>
<ul>
    <li>
    <a href="{% url 'author' id=recipe.author.id %}">{{recipe.author.name}}</a> | Created on {{recipe.date}}
    </li>
            <ul>
                <li>
                {{recipe.description}}
                </li>
                <li>
                {{recipe.time_required}}
                </li>
                <li>
                {{recipe.instructions}}
                </li>
                <li>
                    {% if user.is_authenticated %}
                        {% if not fav %}
                            <a href="{% url 'favorite' id=recipe.id %}"><button>Add to favorites</button></a>
                        {% else %}
                            <a href="{% url 'unfavorite' id=recipe.id %}"><button>Remove from favorites</button></a>
                        {% endif %}
                </li>
                <li>
                        {% if request.user == recipe.author.user or request.user.is_staff %}
                            <a href="{% url 'edit' id=recipe.id %}">Edit this recipe</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'login' %}">Log in to favorite this recipe.</a>
                    {% endif %}
                </li>
<p>             
<a href="{% url 'homepage' %}">Home Page</a>
</p>
</ul>            
    